.App {
  text-align: center;
  font-family:'Montserrat', sans-serif;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Esteban&family=Montserrat&display=swap');

.project-icon{
  height:50px;
  width:50px;
  background-color:white;
}

.bolding{
  font-weight:bold;
  font-size:0.9rem;
  letter-spacing:1px;
}

#about{
  display:flex;
  justify-content:space-evenly;
  align-items:center;
}

.flipped-header{
  transform: rotate(-90deg);
  padding-top:5rem;
  letter-spacing: 5px;
}

.about-container{
  display:flex;
  flex-direction: column;
  justify-content:space-evenly;
  width:75%;
}
.about-paragraph{
  text-align:justify;
}

.headshot{
  height:100px;
  width:140px;
  margin:0 1rem 0 1rem;
}

.about-contact-container{
  display:flex;
  justify-content:space-evenly;
}

.contact-container{
  display:flex;
  flex-direction: column;
}

.contact-icon{
  height:50px;
  width:50px;
  padding:2rem;
}


@media screen and (max-width:900px){

  .about-contact-container{
    display:block;
  }

  #about{
    flex-direction:column;
    width:100%;
  }

  .flipped-header{
    transform:rotate(0);
    padding-top:1rem;
  }

  .contact-container{
    flex-direction:row;
    justify-content:center;
  }

  .about-paragraph{
    padding:1rem 2rem 1rem 2rem;
    font-size:0.8rem;
    margin:0;
  }

  .about-container{
    width:100%;
  }

  .headshot{
    height:100px;
    width:140px;
    margin:1rem 1rem 1rem 1rem;
  }
}

.footer{
  background-color:#292732; 
  padding:1rem;
}

.footer > .footer-p{
  margin:0;
  color:white;
  font-size:0.6rem;
}